* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Readex Pro', sans-serif;
    color: #fff;
}

body {
    background-color: #25272c;
    display: grid;
    place-items: center;
    height: 100vh;
}

.apple-music-container {
    display: flex;
    align-items: center;
    z-index: 1;
    font-size: 5rem;
    position: absolute;
    padding: 25px 50px 0 0;
    top: 0;
    right: 0;
}

.apple-logo {padding: 0 10px 3px 0;}

.dolby-container {
    z-index: 1;
    font-size: 3em;
    position: absolute;
    text-align: center;
}

.title-container {
    z-index: 1;
    text-align: center;
    padding-bottom: 50em;
}

.title {
    font-size: 12rem;
    font-weight: 400;
}

.subtitle {
    font-weight: 300;
    font-size: 4rem;
}

.container {
    background-color: #eb5bec;
    height: 1615px;
    width: 1385px;
    position: relative;
    display: grid;
    place-items: center;
    border-radius: 18px;
}

.box {
    background: #471e45;
    height: 100px;
    width: 100px;
    position: absolute;
    opacity: 0.5;
    animation: grow 10s linear infinite;
    z-index: 0;
}

.box {
    --delay: 1s;
    animation-delay: var(--delay);
}

.box:nth-child(2) {--delay: 2s;}
.box:nth-child(3) {--delay: 3s;}
.box:nth-child(4) {--delay: 4s;}
.box:nth-child(5) {--delay: 5s;}
.box:nth-child(6) {--delay: 6s;}
.box:nth-child(7) {--delay: 7s;}
.box:nth-child(8) {--delay: 8s;}
.box:nth-child(9) {--delay: 9s;}
.box:nth-child(10) {--delay: 10s;}

@keyframes grow {
    from {
        opacity: 0.5;
        transform: scale(0);
    }
    to {
        opacity: 0;
        transform: scale(13.85);
    }
}
