:root {
    --bg-color-a: rgb(15, 19, 34);
    --bg-color-b: rgb(84, 71, 226);
    --bg-color-c: rgb(31, 32, 72);
    --bg-color-d: rgb(239, 145, 108);
    --bg-color-e: rgb(115, 192, 226);
    --bg-color-f: rgb(237, 105, 127);
    --bg-color-g: rgb(114, 205, 137);
    --bg-color-h: rgb(105, 56, 202);
    --bg-color-i: rgb(234, 200, 108);
    --bg-color-j: rgb(54, 59, 119);
    --fg-primary: rgb(255, 255, 255);
    --fg-secondary: rgb(118, 122, 183);
    --border-radius: 20px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    color: var(--fg-primary);
    transition: all 200ms;
}

/* App.vue */
#app {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard {
    width: 50%;
    min-width: 50%;
    display: flex;
}

.cards-container {
    min-height: 100%;
    min-width: 75%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-left: 1.2em;
}

/* Static styles */

body {
    height: 100vh;
    background-color: var(--bg-color-a);
}

.profile-container {
    min-width: 25%;
    background-color: var(--bg-color-c);
    margin-bottom: 1em
}

.profile-card {
    background-color: var(--bg-color-b);
    padding: 3em 6em 6em 3em;
}

.profile-card img {
    height: 5em;
    border-radius: 50%;
    border: solid 3px #FFF;
}

.name-container {
    margin-top: 2em;
    height: 5em;
    width: 5em;
}

.data-filter-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em 3em;
}

.date-filter {
    cursor: pointer;
    margin: 0.7em 0;
}

.work-container {background-color: var(--bg-color-d);}
.play-container {background-color: var(--bg-color-e);}
.study-container {background-color: var(--bg-color-f);}
.exercise-container {background-color: var(--bg-color-g);}
.social-container {background-color: var(--bg-color-h);}
.self-care-container {background-color: var(--bg-color-i);}

.card {
    width: 32%;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border: none;
    overflow: hidden;
    position: relative;
    margin-bottom:1em;
}

.card-header {
    position: absolute;
    top: -0.5em;
    right: 0.5em;
}

.subcard {
    height: 80%;
    z-index: 1;
    background-color: var(--bg-color-c);
    border: px solid var(--bg-color-c);
    border: none;
    padding: 1.5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subcard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.btn {
    border: none;
    padding: 0;
    background: none;
    color: var(--fg-secondary);
}

.card-menu {
    padding: 1em 0;
    border-radius: 10px;
    position: absolute;
    top: 1em;
    right: 0;
    list-style: none;
    display: none;
}

.btn-display-menu:hover + .card-menu,
.card-menu:hover {
    display: block;
}

.card-menu li {margin-bottom: 3px;}

.card-menu .btn:hover {color: var(--fg-primary);}

.d-none {display: none;}

.more-icon {cursor: pointer;}

.subcard-body {text-align: left;}

.subcard-body h2 {margin-bottom: 0.3em;}

.fw-300 {font-weight: 300;}
.fw-400 {font-weight: 400;}
.fw-500 {font-weight: 500;}
.fs-xl {font-size: 2.5em;}
.fg-sec {color: var(--fg-secondary);}
.br {border-radius: var(--border-radius) !important;}

/* Status styles */
.card:hover .subcard {
    background-color: var(--bg-color-j);
}

.date-filter:hover {
    color: var(--fg-primary);
}

.more-icon:hover {
    filter:  invert(0.2) brightness(1);
}

/* Mobile styles */
@media (max-width: 600px) {

    body {
        margin: 1em 0;
    }

    h1 {
        font-size: 1em;
    }

    .dashboard {
        margin-top: 30em;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .user-container {
        max-width: 100%;
    }

    .cards-container {
        min-width: 100%;
        margin: 0;
    }

    .card {
        width: 100%;
    }

    .card-menu {
        background-color: var(--bg-color-a);
        top: 0;
    }

    .card-menu:hover {
        display: flex;
    }

    .card-menu li {
        margin: 0 1em;
    }

    .container {
        margin-top: 20em;
    }

    .profile-card {
        display: flex;
        padding: 1em 2em;
    }

    .profile-picture-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .name-container {
        width: 100%;
        margin-left: 1em;
        display: flex;
        flex-direction: column;
    }

    .name {
        width: 100%;
        display: flex;
    }

    .data-filter-container {
        flex-direction: row;
    }

    .subcard {
        margin-top: 2em;
        padding: 1.5em 1em 0.5em 1em;
    }

    .subcard-body {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5em 0;
    }
  }