* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

.dark-theme {
    --bg-color-primary: rgb(33, 42, 70);
    --bg-color-secondary: rgb(22, 28, 46);
    --bg-color-info: rgb(53, 119, 243);
    --bg-color-info-hover: rgb(82, 142, 255);
    --fg-color-primary: rgb(255, 255, 255);
    --fg-color-secondary: rgb(156, 161, 184);
    --fg-color-info: rgb(53, 119, 243);
}

.light-theme {
    --bg-color-primary: rgb(254, 254, 254);
    --bg-color-secondary: rgb(247, 248, 254);
    --bg-color-info: rgb(52, 119, 247);
    --bg-color-info-hover: rgb(82, 142, 255);
    --fg-color-primary: rgb(65, 66, 72);
    --fg-color-secondary: rgb(141, 145, 149);
    --fg-color-info: rgb(129, 170, 217);
}

.light-theme .b-shadow {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.bg-primary {background-color: var(--bg-color-primary);}
.bg-secondary {background-color: var(--bg-color-secondary);}
.bg-info {background-color: var(--bg-color-info);}
.bg-info:hover {background-color: var(--bg-color-info-hover);}

.fg-primary {color: var(--fg-color-primary);}
.fg-secondary {color: var(--fg-color-secondary)}
.fg-info {color: var(--fg-color-info);}

.fw-500 {font-weight: 500;}
.fw-400 {font-weight: 400;}
.fw-300 {font-weight: 300;}
.fw-100 {font-weight: 100;}

.fs-24 {font-size: 24px;}
.fs-18 {font-size: 18px;}
.fs-16 {font-size: 16px;}

.br-10 {border-radius: 10px;}
.br-5 {border-radius: 5px;}